$backgrBlue:rgb(11, 166, 228);
$blackBot: 1px solid black;
$c:center;
$clear:rgba(0,0,0,0);
$n:none;

@mixin pm0{
    padding:0;
    margin:0; 
 }

 @mixin fcs{
     outline:$n
 }
 
 @mixin active{
     outline:$n;
     animation:buttonActive 0.4s linear;
 }

.container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    margin:auto;
    border:$blackBot;
    border-radius: 25px 25px 25px 25px;
    background-color: #CDAB8B;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    .TopContainer{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
        .toTheLeft{
            margin: 10px 5px;
            border-width: 0px;
            background-color: $clear;
            max-height: fit-content;
            border-radius: 50px;
        h3{
            font-weight: 500;
            background: linear-gradient(to top right, grey,white);
            background-clip: text;
            color:transparent;
            font-size: x-large;
            border-radius: 50px;
           @include pm0;
        }
        }
        .toTheLeft:active{
            @include active;
            @keyframes buttonActive {
                0%{outline: $n; background-color:$clear}
                50%{outline:$n; background-color: rgba(158, 88, 23, 0.705);}
                100%{outline:$n; background-color: $clear;}
            }
        }
        .toTheLeft:focus{
            @include fcs;
        }
        .Goal{
            margin-top: 1.5rem;
            margin-left: 2.5rem;
            border:$n;
            outline:$n;
            text-align-last:$c;
            align-self:flex-end;
            justify-self:$c;
            background-color: $clear;
            color: black;
        }
        input, input::placeholder {
            text-align: right; 
            color: black;
            font-size: large;
        }
        
        input:focus {
            text-align:$c; 
            color:black;
        }
        .toTheRight{
            background-color: $clear;
            border-width: 0px;
            border-radius: 50px;
            margin: 9px 0px 9px;
            div{
                border-radius: 50%;
                margin: 1px 5px 1px;
                height: 1rem;
                width: 1rem;
                background:linear-gradient(to top right, grey,white,grey);
                display:inline-flex;
                padding:0;
              }
        }
        .toTheRight:focus{
            @include fcs;
        }
        .toTheRight:active{
            @include active;
        }
    }
    .MiddleContainer{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        margin-bottom: 25px;
        .Timer{
            background-color:$clear;
            border-width: 0px;
            border-radius: 30px;
            p{
                @include pm0;
            }
        }
        .Timer:focus{
            @include fcs;
        }
        .Timer:active{
            @include active;
        }
        .Reflect{
            background-color: $clear;
            border-width: 0px;
            border-radius: 30px;
            p{
                 @include pm0;
            }
        }
        .Reflect:focus{
            @include fcs;
        }
        .Reflect:active{
            @include active;
        }
        .Frequencyform{
            background-color: $clear;
            border-width: 0px;
            border-radius: 30px;
            p{
               @include pm0;
            }
        }
        .Frequencyform:focus{
            @include fcs;
        }
        .Frequencyform:active{
            @include active;
        }
    }
    .BottomContainer{
        .inline{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 25px;
        }
        .check{
            position: relative;
            display: block;
            input[type=checkbox]{
                visibility: hidden;
            }
            /*input:active ~ .custom { 
                background-color: red; 
            }*/
            input:checked ~ .custom { 
                background-color:$backgrBlue; 
            } 
            input:checked ~ .custom:after { 
                display: block; 
            } 
            .custom{
                position: absolute;
                top:0px;
                left:0px;
                height: 1.5rem;
                width:1.5rem;
                background-color:#CEE1E1;
            }
            .custom:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
              }
        }
        .check:hover input ~ .custom { 
            background-color:$backgrBlue; 
        } 
        .custom:after {
            content: "";
            position: absolute;
            display:$n;
        }
    }
}

@media only screen and (max-width:600px){
    .toTheRight{
        div{
            display: list-item;
        }
    }
}